@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Luxurious+Roman&family=Pacifico&family=Playball&family=Playfair:opsz,wght@5..1200,300&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* #11009E / #4942E4 / #3066be / #b4c5e4 / #fbfff1 */

.navbar a{
  font-weight: 600;
  color: aliceblue;
}

.navbar{
  background-color: #4942E4;
}

.navbar ul{
  font-size: 20px;
  font-weight: 600;
  margin-right: 80px;
}

.navbar-nav .nav-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.navbar-nav .nav-link:hover{
  color: #fbfff1;
  text-shadow: 0 0 20px #abda3e,
  0 0 10px rgba(211, 214, 17, 0.85),
  0 0 20px rgba(211, 214, 17, 0.85),
  0 0 40px rgba(211, 214, 17, 0.85),
  0 0 80px rgba(211, 214, 17, 0.85),
  0 0 100px rgba(211, 214, 17, 0.85);
}

.navbar-nav .nav-link:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

body{
  display: flex;
  justify-content: center;
}

.container-fluid{
  margin-top: 15%;
}

.col-10 h5{
  color: #fbfff1;
  font-weight: 400;
}

.col-12{
  font-size: 32px;
  color: aqua;
}

p{
  font-size: 20px;
  color: #3066be;
  font-weight: 400;
}

main .h3{
  color:#3066be
}

h3{
  color: #fbfff1;
  font-weight: 400;
}

.bg-image h3{
  color: #fbfff1;
  font-weight: 400;
  margin-top: 7px;
}

.qoute{
  color: #fbfff1;
  font-weight: 600;
}
.card-img-overlay{
  margin-top: 15%;
  margin-left: -10%;
}

.card-img-overlay h1{
 font-size: 3rem;
}

.card-img-overlay p{
  font-size: 1rem;
 }

 .carousel-item{
  width: 80vw;
  height: 75vh;
 }
