@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Luxurious+Roman&family=Pacifico&family=Playball&family=Playfair:opsz,wght@5..1200,300&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* #11009E / #4942E4 / #3066be / #b4c5e4 / #fbfff1 */

/* navbar */

body{
  display: flex;
  justify-content: center;
}

.navbar a{
  font-weight: 600;
  color: aliceblue;
}

.navbar{
  background-color: #4942E4;
}

.navbar ul{
  font-size: 20px;
  font-weight: 600;
  margin-right: 80px;
}

.navbar-nav .nav-link:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.navbar-nav .nav-link{
  color: #fbfff1;
  text-shadow: 0 0 20px #abda3e,
  0 0 10px rgba(211, 214, 17, 0.85),
  0 0 20px rgba(211, 214, 17, 0.85),
  0 0 40px rgba(211, 214, 17, 0.85),
  0 0 80px rgba(211, 214, 17, 0.85),
  0 0 100px rgba(211, 214, 17, 0.85);
}


.transition-nav:hover{
  border-radius: 2%;
  background-color: #b8d60ca5;
  transition-duration: .2s;
  transition-delay: .1s;
}

.transition:hover{
  background-color: #b5d211 ;
}

/* animation zoom-in-out-image */

.zoom-in-out-image{
  transition: zoom-in-zoom-out 3s;
}

.zoom-in-out-image{
  animation: zoom-in-zoom-out 4s;
  animation-duration: 6s;
}

@keyframes zoom-in-zoom-out{
  50%{
    transform: scale(.5, .5);
  }
  25%{
    transform: scale(1, 1);
  }
  0%{
    transform: scale(.5, .5);
  }

}
/* navbar */


.container-fluid{
  margin-top: 15%;
}

/* section-1 */

.col-10 h5{
  color: #fbfff1;
  font-weight: 400;
}

p{
  color: #11009E;
  font-weight: 400;
  font-family: 'Belanosima' sans-serif;
}

main .h3{
  color:#3066be
}

h3{
  color: #fbfff1;
}

/* trasition-1 */

.transition{
  background-color: #b4c5e4;;
  transition-duration: .2s;
  transition-delay: .2s;
}

.transition:hover{
  background-color: hwb(66 7% 11% / 0.902);
}

/* animation zoom-in-out-image */

.zoom-in-out-image{
  transition: zoom-in-zoom-out 3s;
}

.zoom-in-out-image{
  animation: zoom-in-zoom-out 4s;
  animation-duration: 6s;
}

@keyframes zoom-in-zoom-out{
  50%{
    transform: scale(.5, .5);
  }
  25%{
    transform: scale(1, 1);
  }
  0%{
    transform: scale(.5, .5);
  }

}


.bg-image h3{
  color: #fbfff1;
  margin-top: 7px;
}


.transition{
  background-color: #b4c5e4;;
  transition-duration: 1s;
  transition-delay: 1s;
}

.transition2:hover{
  background-color: #1deed241;
}

/* animation zoom-in-out-image */

.zoom-in-out-image{
  transition: zoom-in-zoom-out 3s;
}

.zoom-in-out-image{
  animation: zoom-in-zoom-out 4s;
  animation-duration: 6s;
}

@keyframes zoom-in-zoom-out{
  50%{
    transform: scale(.5, .5);
  }
  25%{
    transform: scale(1, 1);
  }
  0%{
    transform: scale(.5, .5);
  }

}
/* transition-1 */


/* section-2 */
/* transition-2 */
.qoute{
  color: #fbfff1;
  font-weight: 600;
}
.card-img-overlay{
  margin-top: 15%;
  margin-left: -10px;
}

.card-img-overlay h2{
 font-size: 3rem;
 margin-left: -10px;
}

.card-img-overlay p{
  font-size: 1rem;
 }

 /* transition-3 */

 .transition3{
  background-color: #b4c5e4;;
  transition-duration: .2s;
  transition-delay: .2s;
}

.transition3:hover{
  background-image: url('gradient-colors.gif');
}

/* animation zoom-in-out-image */

.zoom-in-out-image{
  transition: zoom-in-zoom-out 3s;
}

.zoom-in-out-image{
  animation: zoom-in-zoom-out 4s;
  animation-duration: 6s;
}

@keyframes zoom-in-zoom-out{
  50%{
    transform: scale(.5, .5);
  }
  25%{
    transform: scale(1, 1);
  }
  0%{
    transform: scale(.5, .5);
  }

}
 /* transion-2 */
 /* section-2 */



 /* transition-3 */


 .transition{
  background-color: #b4c5e4;
  transition-duration: .2s;
  transition-delay: .2s;
}

.transition:hover{
  background-color: #b4c5e4 ;
}

/* animation zoom-in-out-image */

.zoom-in-out-image{
  transition: zoom-in-zoom-out 3s;
}

.zoom-in-out-image{
  animation: zoom-in-zoom-out 4s;
  animation-duration: 6s;
}

@keyframes zoom-in-zoom-out{
  50%{
    transform: scale(.5, .5);
  }
  25%{
    transform: scale(1, 1);
  }
  0%{
    transform: scale(.5, .5);
  }

}



 .carousel-item{
  width: 80vw;
  height: 75vh;
 }

.bg-color{
  background-color: #b4c5e4;
}


.h5{
  color: #fbfff1;
  text-shadow: 2px 2px;
}






.transition{
  background-color: #b4c5e4;;
  transition-duration: .2s;
  transition-delay: .2s;
}

.transition:hover{
  background-color: #9fbc0cc4;
}


.zoom-in-out-image{
  transition: zoom-in-zoom-out 3s;
}

.zoom-in-out-image{
  animation: zoom-in-zoom-out 4s;
  animation-duration: 6s;
}

@keyframes zoom-in-zoom-out{
  50%{
    transform: scale(.5, .5);
  }
  25%{
    transform: scale(1, 1);
  }
  0%{
    transform: scale(.5, .5);
  }

}